body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9ea8d6;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: rgb(0, 0, 0);
}

p {
    color: rgb(106, 135, 204);
}

.produtos {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: rgb(57, 51, 107);
}